<section class="text-1-5">
    <div class="container">
        <div class="carousel" id="carousl">
            <input type="radio" name="slides" checked="checked" id="slide-1" (focus)="prova()">
            <input type="radio" name="slides" id="slide-2" (focus)="prova()">
            <input type="radio" name="slides" id="slide-3" (focus)="prova()">
            <input type="radio" name="slides" id="slide-4" (focus)="prova()">
            <input type="radio" name="slides" id="slide-5" (focus)="prova()">
            <input type="radio" name="slides" id="slide-6" (focus)="prova()">
            <input type="radio" name="slides" id="slide-7" (focus)="prova()">
            <input type="radio" name="slides" id="slide-8" (focus)="prova()">
            <input type="radio" name="slides" id="slide-9" (focus)="prova()">
            <input type="radio" name="slides" id="slide-10" (focus)="prova()">
            <input type="radio" name="slides" id="slide-11" (focus)="prova()">
            <input type="radio" name="slides" id="slide-12" (focus)="prova()">
            <input type="radio" name="slides" id="slide-13" (focus)="prova()">

            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/baffone2.jpg"  height="100" width="150" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Sindaco.</b><br>
                        <b>Nome:</b> Luigi<br>
                        <b>Cognome:</b> Viola<br>
                        <b>Età:</b> 65<br>
                        <b>Professione:</b>Medico Chirurgo<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum Viola Luigi.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Viola Luigi.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/nunzio.jpg"  height="100" width="150" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Nunzio<br>
                        <b>Cognome:</b> Cutrone<br>
                        <b>Età:</b> 44<br>
                        <b>Professione:</b>Impiegato comune di Bari<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Nunzio Cutrone.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificatoCutrone Nunzio.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/dorotea.jpg"  height="100" width="150" alt="">
                        </div>

                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Dorotea <br>
                        <b>Cognome:</b> Fioriello<br>
                        <b>Età:</b> 58<br>
                        <b>Professione:</b> Docente<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Fioriello Dorotea.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Fioriello Dorotea.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/sgobba.jpg"  height="100" width="150" alt="">
                        </div>

                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Domenico<br>
                        <b>Cognome:</b> Sgobba<br>
                        <b>Età:</b> 59<br>
                        <b>Professione:</b> Docente<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Domenico Sgobba.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 9 Sgobba Domenico.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/cinotti fronte .jpg"  height="100" width="150" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Rita <br>
                        <b>Cognome:</b> Cinotti<br>
                        <b>Età:</b> 61<br>
                        <b>Professione:</b> Docente<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Rita Cinotti.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Cinotti Rita.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/calemma.jpg"  height="100" width="150" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b>Giuseppe <br>
                        <b>Cognome:</b> Calemma<br>
                        <b>Età:</b> 36<br>
                        <b>Professione:</b> Imprenditore Agricolo<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum calemma giuseppe.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Calemma Giuseppe.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/magdabolognese.jpeg" height="100" width="150" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Magda<br>
                        <b>Cognome:</b> Bolognese<br>
                        <b>Età:</b> 69<br>
                        <b>Professione:</b> Pensionata<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum Bolognese Magda.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 10 Bolognese Magda.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/luca .jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Luca<br>
                        <b>Cognome:</b> Gemmato<br>
                        <b>Età:</b> 23<br>
                        <b>Professione:</b> Laureando<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Luca Gemmato.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 12 Gemmato Luca.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/emanuele acquafredda.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Emanuele<br>
                        <b>Cognome:</b> Acquafredda<br>
                        <b>Età:</b> 24<br>
                        <b>Professione:</b>laureando<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/Curriculum Acquafredda.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 8 Acquafredda Emanuele.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/eleonora.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Eleonora<br>
                        <b>Cognome:</b> Nardella<br>
                        <b>Età:</b> 21<br>
                        <b>Professione:</b> Laureanda<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum nardella elonara.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Nardella Eleonora.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/vito1.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Vito<br>
                        <b>Cognome:</b> Antonacci<br>
                        <b>Età:</b> 54<br>
                        <b>Professione:</b> Consulente Ambientale<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum vito antonacci.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato Antonacci Vito.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/arianna front.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Arianna<br>
                        <b>Cognome:</b> Grimaldi<br>
                        <b>Età:</b> 23<br>
                        <b>Professione:</b> Laureanda<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/curriculum arianna.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 11 Arianna Grimaldi.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/daniela de benedictis.jpeg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidata Consigliere Comunale.</b><br>
                        <b>Nome:</b> Daniela<br>
                        <b>Cognome:</b> De Benedictis<br>
                        <b>Età:</b> 25<br>
                        <b>Professione:</b>Make up Artist<br>
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br> <a class="help-a" download="Curriculum Vitae"
                            href="./assets/documents/cv daniela 30 07 2020.pdf">
                            Curriculum Vitae</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/certificato 13 De benedictis Daniela.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="./assets/images/baffone2.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-2"><img src="./assets/images/nunzio.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-3"><img src="./assets/images/dorotea.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-4"><img src="./assets/images/sgobba.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-5"><img src="./assets/images/cinotti fronte .jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-6"><img src="./assets/images/calemma.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-7"><img src="./assets/images/magdabolognese.jpeg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-8"><img src="./assets/images/luca .jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-9"><img src="./assets/images/emanuele acquafredda.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-10"><img src="./assets/images/eleonora.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-11"><img src="./assets/images/vito1.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-12"><img src="./assets/images/arianna front.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-13"><img src="./assets/images/daniela de benedictis.jpeg" width="50" height="50"></label>
                </li>
            </ul>
        </div>
    </div>
</section>