<section class="text-1-5">
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto1.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Sindaco.</b><br>
                        <b>Nome:</b> Dottor<br>
                        <b>Cognome:</b> House<br>
                        <b>Età:</b> 45<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto2.jpg" alt="">
                        </div>

                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Black<br>
                        <b>Cognome:</b> Panther<br>
                        <b>Età:</b> 56<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto3.jpg" alt="">
                        </div>

                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Brad<br>
                        <b>Cognome:</b> Pitt<br>
                        <b>Età:</b> 34<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto4.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Coso<br>
                        <b>Cognome:</b> Di Andria<br>
                        <b>Età:</b> 67<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto5.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Nemico Primo<br>
                        <b>Cognome:</b> Spiderman<br>
                        <b>Età:</b> 34<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente poco verosimili. Se si decide di utilizzare un passaggio del Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="./assets/images/volto7.jpg" alt="">
                        </div>
                    </figure>
                    <div class="desc_candidato">
                        <b>Candidato Consigliere Comunale.</b><br>
                        <b>Nome:</b> Miriam<br>
                        <b>Cognome:</b> Leone<br>
                        <b>Età:</b> 34<br>
                        Esistono innumerevoli variazioni dei passaggi del Lorem Ipsum, ma la maggior parte hanno subito
                        delle variazioni del tempo, a causa dell’inserimento di passaggi ironici, o di sequenze casuali
                        di caratteri palesemente STA TOSTA poco verosimili. Se si decide di utilizzare un passaggio del
                        Lorem
                        Ipsum, è bene essere certi che non contenga nulla di imbarazzante. In genere, i generatori di
                        testo segnaposto disponibili su internet tendono a ripetere paragrafi predefiniti, rendendo
                        questo il primo vero generatore automatico su intenet. Infatti utilizza un dizionario di oltre
                        200 vocaboli latini, combinati con un insieme di modelli di strutture di periodi, per generare
                        passaggi di testo verosimili. Il testo così generato è sempre privo di ripetizioni, parole
                        imbarazzanti o fuori luogo ecc.
                        <br><b>Documenti:</b><br>
                        <a class="help-a" download="Dichiarazione" href="./assets/documents/Dichiarazione.pdf">
                            Dichiarazione</a><br>
                        <a class="help-a" download="Casellario Giudiziario"
                            href="./assets/documents/Casellario Giudiziario.pdf">
                            Casellario Giudiziario</a>
                    </div>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="./assets/images/volto1.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-2"><img src="./assets/images/volto2.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-3"><img src="./assets/images/volto3.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-4"><img src="./assets/images/volto4.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-5"><img src="./assets/images/volto5.jpg" width="50" height="50"></label>
                </li>
                <li>
                    <label for="slide-6"><img src="./assets/images/volto7.jpg" width="50" height="50"></label>
                </li>
            </ul>
        </div>
    </div>
</section>