<div class="container-psv">
  <div class="header">
    <div class="d-flex justify-content-center"><img src="./assets/images/logo.jpeg" width="280" height="280"> </div>
    <div>
    </div>
    <h1>Palo Solidale e Verde</h1>

    <nav>
      <a href="#home">Home</a>
      <a href="#chisiamo">Chi siamo</a>
      <a href="#candidati">Candidati</a>
      <a href="#documenti">Documenti</a>
      <a href="#footer">Contatti</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
  <div class="stripe-one" id="home">
    <h2>Home</h2>
    Con il termine lorem ipsum si indica un testo segnaposto utilizzato da grafici, designer, programmatori e tipografi
    a modo riempitivo per bozzetti e prove grafiche.[1] È un testo privo di senso, composto da parole (o parti di
    parole) in lingua latina, riprese pseudocasualmente da uno scritto di Cicerone del 45 a.C, a volte alterate con
    l'inserzione di passaggi ironici. La caratteristica principale è data dal fatto che offre una distribuzione delle
    lettere uniforme, apparendo come un normale blocco di testo leggibile.

    Il testo è stato utilizzato per la prima volta nel 1500 da un anonimo tipografo per mostrare i propri caratteri; da
    allora è diventato lo standard dell'industria tipografica. È sopravvissuto non solo a più di cinque secoli, ma anche
    al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni '60, con
    la diffusione dei fogli di caratteri trasferibili, detti anche trasferelli, e successivamente dai programmi di
    grafica. La sua funzione lo avvicina al testo ETAOIN SHRDLU un tempo usato per provare le Linotype.[2]

    In informatica è usato molto frequentemente come testo riempitivo nelle prove grafiche di pagine web e come dati
    fittizi nella prova di funzionamento dei database. L'uso di questo espediente, per riempire spazi altrimenti vuoti
    (spesso in attesa dei dati definitivi), è molto efficace grazie soprattutto all'alternanza di parole lunghe e brevi,
    punteggiatura e paragrafi. In questo modo viene simulato con sufficiente verosimiglianza l'impatto grafico di un
    testo reale, in modo particolare per quanto riguarda l'impatto estetico.

    Questa consuetudine come testo segnaposto standard ha fatto sì che la maggior parte dei software di grafica e
    tipografia adottassero funzioni e strumenti di "riempimento automatico", con un'immediata anteprima dello spazio
    occupato e della resa finale
  </div>
  <div class="stripe-two" id="chisiamo">
    <h2>Chi Siamo</h2>
    Il testo più comune è il seguente ma, essendo un insieme pseudocasuale di parole, ne esistono versioni differenti:

    « Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi
    consequatur. Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.»
  </div>
  <div class="stripe-one" id="candidati">
    <h2>Candidati</h2>
    <app-candidates></app-candidates>
  </div>
  <div class="stripe-two" id="documenti">
    <h2>Documenti</h2>
    <div class="table-responsive">
      <table class="table table-wh ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Documento</th>
            <th scope="col">Formato</th>
            <th scope="col">Scarica</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>File 1</td>
            <td>png</td>
            <td> <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50">
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>File 2</td>
            <td>pdf</td>
            <td> <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50">
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>File 3</td>
            <td>.xsd</td>
            <td> <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="footer">
  <div class="d-flex justify-content-around">
    <div>
      <b><i>Contatti Utili:</i></b><br>
      <b>Dottor House: </b> 3423423434234<br>
      <b>brad Pitt: </b> 3423423434234<br>
      <b>Miriam Leone: </b> 3423423434234<br><br>
      <b>Email:</b> <a href="mailto: palosolidaleeverde@gmail.com">palosolidaleeverde@gmail.com</a>
    </div>
    <div id="social1">
      <b><i>I nostri Social</i></b><br>
      <img src="./assets/svg/facebook.svg" style="margin-left:5px" width="50" height="50">
      <img src="./assets/svg/twitter.svg" style="margin-left:5px" width="50" height="50">
      <img src="./assets/svg/instagram.svg" style="margin-left:5px" width="50" height="50">
    </div>
  </div>
  <div id="social2">
    <b><i>I nostri Social</i></b><br>
    <img src="./assets/svg/facebook.svg" style="margin-left:5px" width="50" height="50">
    <img src="./assets/svg/twitter.svg" style="margin-left:5px" width="50" height="50">
    <img src="./assets/svg/instagram.svg" style="margin-left:5px" width="50" height="50">
  </div>
</div>