nav {
    margin: 27px auto;
    position: relative;
    width: 90%;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
}

nav a {
    line-height: 50px;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
}

.icon {
    fill: #17324d!important;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 20%;
}

a:nth-child(2) {
    width: 20%;
}

a:nth-child(3) {
    width: 20%;
}

a:nth-child(4) {
    width: 20%;
}

a:nth-child(5) {
    width: 20%;
}

nav .start-home, a:nth-child(1):hover~.animation {
    width: 20%;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about, a:nth-child(2):hover~.animation {
    width: 20%;
    left: 20%;
    background-color: #e74c3c;
}

nav .start-blog, a:nth-child(3):hover~.animation {
    width: 20%;
    left: 40%;
    background-color: #3498db;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 20%;
    left: 60%;
    background-color: #9b59b6;
}

nav .start-contact, a:nth-child(5):hover~.animation {
    width: 20%;
    left: 80%;
    background-color: #e67e22;
}

body {
    font-family: sans-serif;
    background: #2c3e50;
}

h1 {
    text-align: center;
    border: 40px 0 40px;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px green;
    font-family: 'Cherry Swash', cursive;
}

img.logo {
    margin: 0 44% 0 36%;
}

.stripe-one {
    font-size: 1.5rem;
    font-family: sans-serif;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    width: 100%;
    padding: 10%;
    background-color: white!important;
}

.stripe-two {
    font-size: 1.5rem;
    font-family: sans-serif;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    color: white;
    width: 100%;
    padding: 10%;
    background-color: red!important;
}

.header {
    border-bottom: 3px solid black;
}

p {
    font-size: 1rem;
    font-family: sans-serif;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
}

span {
    color: #2BD6B4;
}

.container-psv {
    padding-top: 40px;
    min-height: 100vh;
    max-height: 100%;
    background-color: red!important;
}

div#footer {
    border-top: 3px solid black;
    font-family: sans-serif;
    background: white;
    padding: 2rem 0 2rem 0;
    bottom: 0;
    position: relative;
    text-align: center;
}

.table-wh {
    background-color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15%;
    z-index: 99;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #ff00005e;
    color: white;
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #555;
}

@media only screen and (max-width: 800px) {
    div#footer, .container-psv {
        margin: 0!important;
    }
    #social2 {
        font-size: 1rem!important;
        display: block
    }
    #social1 {
        font-size: 1rem !important;
        display: none;
    }
    nav a {
        font-size: 1rem;
    }
    
    .scompare{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    div#footer, .container-psv {
        margin: 0!important;
    }
    #social2 {
        font-size: 1rem!important;
        display: block
    }
    #social1 {
        font-size: 1rem !important;
        display: none;
    }
    nav a {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 800px) {
    div#footer, .container-psv {
        font-size: 1.5rem;
        margin: 0 15% 0 15%!important;
    }
    #social1 {
        font-size: 1.5rem !important;
        display: block
    }
    #social2 {
        font-size: 1rem !important;
        display: none;
    }
    nav a {
        font-size: 1rem;
        text-transform: uppercase;
    }
    .scompare{
        display: '';
    }
}

#cookieConsent {
    background-color: rgba(20, 20, 20, 0.8);
    min-height: 4rem;
    font-size: 2rem;
    color: #ccc;
    line-height: 2rem;
    padding:8px 15%  0 15%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}

#closeCookieConsent {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}

#closeCookieConsent:hover {
    color: #FFF;
}

#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    width:auto;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}