<div class="container-psv">
  <button (click)="topFunction()" id="myBtn" title="Go to top"> <img src="./assets/svg/arrow.svg"
      style="margin-left:5px" width="50" height="50">
  </button>
  <div class="header">
    <div class="d-flex justify-content-center"><img src="./assets/images/logo.jpeg" width="280" height="280"> </div>
    <div>
    </div>
    <h1 style="padding-top:1rem">Palo Solidale e Verde</h1>

    <nav>
      <a href="#home">Home</a>
      <a href="#chisiamo">Chi siamo</a>
      <a href="#candidati">Candidati</a>
      <a href="#documenti">Documenti</a>
      <a href="#footer">Contatti</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
  <div class="stripe-one" id="home">
    <h2>Home</h2>

    <h4><b>Cos'è Palo solidale e verde?</b></h4>


    Palo Solidale e Verde è una lista civica e rappresenta la vera novità in vista delle prossime elezioni comunali. Una
    lista civica che è soprattutto un laboratorio politico nato dalle esperienze e dalle battaglie svolte nel nostro
    paese in vari ambiti, dal mondo della scuola e dell'università all'attivismo del sindacato di base, dalle
    rivendicazione del mondo agricolo all'esperienza del volontario.
    Uno spazio politico aperto a donne e uomini liberi e convinti che le parole “sinistra” e “ambientalismo” possano
    essere linfa vitale per la costruzione di una Palo migliore. E proprio da una valutazione delle problematiche che da
    tempo immemore affliggono la comunità palese nasce l'esigenza di accomunare due specifiche esperienze: una di
    carattere più politico, l'altra dell'associazionismo ambientale attivo.
    Palo solidale e verde è in stretta relazione con la lista Puglia solidale e verde e ne richiama il simbolo,
    leggermente diverso solo per motivi burocratici, ma anche il metodo di mettere assieme diverse esperienze come
    Sinistra Italiana, Verdi, PSI e La forza della Puglia, componente che si ispira a Guglielmo Minervini.
    Entrambe le liste nascono con un obiettivo: ridare dignità al mondo del lavoro, tutelare gli sfruttati e i
    sottopagati, schierarsi dalla parte dei deboli e porre il tema dell’ambientalismo e del futuro della nostra terra
    come priorità per la prossima amministrazione comunale e regionale
  </div>
  <div class="stripe-two" id="chisiamo">
    <h2>Chi Siamo</h2>
    In aggiornamento...
  </div>
  <div class="stripe-one" id="candidati">
    <h2>Candidati</h2>
    <app-candidates></app-candidates>
  </div>
  <div class="stripe-two" id="documenti">
    <h2>Documenti</h2>
    <div class="table-responsive">
      <table class="table table-wh ">
        <thead class="thead-dark">
          <tr>
            <th class="scompare" scope="col">#</th>
            <th scope="col">Documento</th>
            <th  class="scompare" scope="col">Formato</th>
            <th scope="col">Scarica</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th  class="scompare" scope="row">1</th>
            <td>Programma</td>
            <td  class="scompare">.pdf</td>
            <td> <a class="help-a" download="Programma"
              href="./assets/documents/programma.pdf">
              <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50"></a> 
            </td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>File 2</td>
            <td>pdf</td>
            <td> <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50">
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>File 3</td>
            <td>.xsd</td>
            <td> <img src="./assets/svg/download.svg" style="margin-left:5px" width="50" height="50">
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="footer">
  <div class="d-flex justify-content-around">
    <div>
      <b><i>Contatti Utili:</i></b><br>
      <b>Tel1: </b> 3423423434234<br>
      <b>Tel2: </b> 3423423434234<br>
      <b>Tel3: </b> 3423423434234<br><br>
      <b>Email:</b> <a href="mailto: palosolidaleeverde@gmail.com">palosolidaleeverde@gmail.com</a>
    </div>
    <div id="social1">
      <b><i>I nostri Social</i></b><br>
      <a href="https://www.facebook.com/palosolidaleeverde"> <img src="./assets/svg/facebook.svg"
          style="margin-left:5px" width="50" height="50"></a>
      <!-- <img src="./assets/svg/twitter.svg" style="margin-left:5px" width="50" height="50">
      <img src="./assets/svg/instagram.svg" style="margin-left:5px" width="50" height="50"> -->
    </div>
  </div>
  <div id="social2">
    <b><i>I nostri Social</i></b><br>
    <a href="https://www.facebook.com/palosolidaleeverde"> <img src="./assets/svg/facebook.svg" style="margin-left:5px"
        width="50" height="50"></a>
    <!-- <img src="./assets/svg/twitter.svg" style="margin-left:5px" width="50" height="50">
    <img src="./assets/svg/instagram.svg" style="margin-left:5px" width="50" height="50"> -->
  </div>
</div>
<div id="cookieConsent">
  <div id="closeCookieConsent">x</div>
  Questo sito Web utilizza cookie. <a href="https://policies.google.com/technologies/types?hl=it" target="_blank">Più
    Informazioni</a>. <a class="cookieConsentOK">Ok!</a>
</div>